.navbar {
    background-color: #333;
    width: 100%; /* Ajuste para que ocupe toda la pantalla */
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 2rem; /* Agrega margen a la derecha para separar del resto de los elementos */
  }
  
  .nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .nav-link:hover {
    color: #ffcc00;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajuste para que el contenedor ocupe toda la pantalla */
     /* Ajuste de relleno para dar espacio alrededor del contenido */
  }
  
  .cart-widget-button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart-widget-button:hover {
    background-color: #ffd633;
  }